In [3]:
import pandas as pd

In [1]:
# Crear una lista

edad = [30,40,50]

In [4]:
# convertirse a serie

serie = pd.Series(edad)

In [5]:
# Mostrar resultado
serie

0    30
1    40
2    50
dtype: int64

In [6]:
serie [1]

np.int64(40)

### Ejemplo 2

In [7]:
naranjas = pd.Series([1,4,9,2,6,10,200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [8]:
type(naranjas)

pandas.core.series.Series

In [ ]:
naranjas = pd.Series([1,4,9,2,6,10,200]), index = ['Marco', 'Ana', 'Juan', '']